.footer {
  margin-top: 200px;
  padding: 10px 10px;
  border-top: 1px solid gray;
}
.footer-title a {
  font-size: 16px;
  text-decoration: none;
  line-height: 40px;
}
.footer-title a:hover {
  text-decoration: underline;
  color: inherit;
}
.bottom {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  border-top: 1px solid gray;
}
.bottom .left span {
  color: grey;
  font-weight: bold;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
