.info-column {
  border: 1px solid grey;
  background-color: white;
  display: flex;
  border-radius: 2px;
  justify-content: center;
}
.active-column {
  background-color: white;
  border-radius: 2px;
}

.avatar {
  height: 150px;
  width: 150px;
}

.avatar img {
  width: 100%;
  height: 100%;
  border: 0.5px solid gray;
  border-radius: 50%;
}

.tastRented_content {
  border: 1px solid gray;
  padding: 3px;
  border-radius: 2px;
}
