.search-input {
  border-color: #c5c6c9;
  border-radius: 4px;
  color: #62646a;
  font-size: 16px;
  padding: 10px 2px 10px 16px;
}
.search-button {
  background-color: #222325;
  border-radius: 0 4px 4px 0;
  color: #fff;
  padding: 10px 10px;
}

.fiver-nav .nav-title {
  font-size: 17px;
  color: #74767e;
  font-weight: 600;
}
.fiver-nav .nav-title a:hover {
  color: #1dbf73;
}
.fiver-nav .nav-1-title {
  font-size: 17px;
  color: #1e1692;
  font-weight: 700;
}
.fiver-nav .nav-1-title a:hover {
  color: #1dbf73;
}
.join-button {
  font-size: 17px;
  color: #1dbf73;
  padding: 5px 10px;
  border: 1px solid #1dbf73;
  border-radius: 5px;
}
.join-button:hover {
  color: white;
  background-color: #1dbf73;
}

.ant-input-group-addon button {
  width: 50px;
}

.anticon {
  font-size: 20px;
  line-height: 15px;
}
