.carousel img {
  background-repeat: no-repeat;
  object-fit: cover;
  height: 674px;
  width: 100%;
}

.trustBy .brand {
  background-color: #fafafa;
}

.benefit {
  background-color: #fafafa;
}

.descriptionImg {
  font-size: 17px;
}

.ant-btn-primary {
  color: white;
  font-weight: bold;
  background-color: green;
  border-radius: 10px;
  width: 100px;
  border: none;
}

.ant-btn-primary:hover {
  background-color: rgb(5, 213, 5);
}

.onSearch {
  width: 730px;
  height: 230px;
  z-index: 2;
  left: 93px;
  top: 230px;
}

.onSearch h1 {
  font-size: 40px;
}

.slick-prev:before,
.slick-next:before {
  color: gray;
  font-size: 50px;
}

.slick-prev {
  left: -50px;
}

.marketplace .item {
  cursor: pointer;
}

.marketplace .item hr {
  background-color: green;
  height: 2px;
  width: 50%;
  margin: auto;
}

.marketplace .item img {
  width: 100px;
  height: 100px;
  margin: auto;
}
